:root {  /* Define variables with global scope */
    --primary-color: #5AA518;
    --font-color-one: #010101;
    --font-color-two: #CCCDC9;
    --background-color-main: #F9F9F7;
    --light-green: #98CB5E;
  }

.recipes-list #placeholder-recipes-list {
    padding: 20px;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#placeholder-recipe {
    width: 100%;
    height: 400px;
    background-color: var(--font-color-two);
    border-radius: 10px;
    animation: fadeIn 1.5s infinite ease-out;
}
.btn-clicked {
    transform: translate(2px, 2px);
}
.scale-btn {
    transform: scale(0px, 10px);
}
body {
    margin: 0px;
}
main {
    min-height: 100vh;
    width: 100%;
}
nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav a {
    color: var(--font-color-one);
    text-decoration: none;
    font-size: 1.5em;
    padding: 0px 10px;
}
nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
footer {
    width: 100%;
}
.hidden {
    display: none;
}
.low-carb {
    color: var(--background-color-main);
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 3px 10px;
    background-color: var(--primary-color);
    position: relative;
    left: calc(100% - 80.86px);
    display: block;
    margin-bottom: 20px;
    width: fit-content;
}
.green-btn {
    background-color: var(--primary-color);
    color: #F9F9F7;
    border: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    align-items: center;
}
.logo a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}
.logo img {
    width: 100%;
}
.logo h1 {
    font-family: sans-serif;
    font-size: large;
}
.favorites {
    grid-column: 3;
    text-align: center;
}
.favorites img {
    width: 50px;
}
.highlight {
    text-transform: uppercase;
    color: var(--primary-color);
}
.banner {
    background-image: url("/images/banner-img-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    padding: 30px;
}
.banner button {
    position: relative;
    top: calc(100% - 40px);
    font-size: 2em;
    /* width: 100%; */
    /* height: 100%; */
}
.banner img {
    width: 100%;
}
.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-list h2 {
    text-align: center;
}
.services-list ul {
    list-style: none;
    max-width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.service {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.service h3 {
    grid-column: 2/4;
    grid-row: 1;
}
.service img {
    width: 100%;
    grid-column: 1;
    grid-row: 1/3;
}
.service p {
    grid-column: 2/4;
    grid-row: 2;
}
.top-recipes-list {
    text-align: center;
}
.top-recipes-list ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: auto;
    padding: 0px;
}
.top-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(219, 219, 219, 0.626);
    padding: 20px;
    cursor: pointer;
}
.top-recipe img {
    width: 150px;
    border-radius: 50%;
}
.top-recipe p {
    text-align: center;
}

.recipes-list {
    display: flex;
    flex-direction: column;
}
#favorites-list {
    padding: 20px;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.recipes-list #actual-recipe-list {
    padding: 20px;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#load-more {
    padding: 20px 50px;
    margin: 50px auto;
    width: fit-content;
    align-self: center;
    box-shadow: 8px 8px 5px var(--font-color-two);
}

#load-more:hover {
    background-color: #98CB5E;
    /* transform: translate(-10px, -10px); */
}
#products-filters {
    background-color: var(--font-color-two);
}
.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(219, 219, 219, 0.626);
    padding: 20px;
    cursor: pointer;
    text-align: center;
}
.recipe a {
    text-align: center;
    text-decoration: none;
    color: var(--font-color-one);
}
.recipe img {
    width: 80px;
    border-radius: 50%;
}
.add-recipe-btn {
    background-image: url("/images/add-recipe-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    width: 2em;
    height: 2em;
}
.add-recipe-btn:hover {
    background-color: var(--light-green);
}

#recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recipe-details .main-img {
    width: 100%;
}
#recipe-details >* {
    width: 100%;
    max-width: 300px;
}
#recipe-details .name {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}
#info {
    display: flex;
    justify-content: flex-end;
}
#info >* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--font-color-two);
}
#info img {
    width: 100%;
}
#remove-recipe {
    background-image: url(/images/remove_fav.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
}
#main-footer {
    background-color: var(--primary-color);
    width: 100%;
    color: var(--font-color-two);
    min-height: 100px;
}
@keyframes fadeIn {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
  }
@media only screen and (min-width: 768px) {
    .favorites img {
        width: 50px;
    }
    .banner {
        background-image: url("/images/banner-img-small.jpg");
    }
    .top-recipes-list ul {
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #favorites-list {
        width: fit-content;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    #favorites-list .recipe {
        max-width: 300px;
    }
    .recipes-list ul {
        padding: 50px;
    }
}